.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
 
}

.grid {
  display: grid;
  grid-template-columns: repeat(11, 40px); /* 11 columns to match image */
  grid-gap: 5px;
}

.cell {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(255, 200, 0);
  font-size: 14px;
}

.red {
  background: red;
  color: white;
}

.blue {
  background: blue;
  color: white;
}